<li
  class="task-item"
  [ngSwitch]="task.completed"
  [class.highlighted]="task.isHighlighted"
>
  <ng-content select="[task-header]"></ng-content>
  <span>task ID: {{ task.id }}</span>
  <span>Title: {{ task.title }}</span>
  <span>Status: {{ task.completed ? "✅" : "❌" }}</span>
  <span>Creation Date {{ task.creationDate | date : "dd/MM/yyyy" }}</span>
  <span *ngSwitchCase="true">Finished with the task 🥳</span>
  <span *ngSwitchCase="false">The task needs to be done 😑</span>
  <span *ngIf="!task.completed">{{ "do it now!" | highlight }}</span>
  <button (click)="onDeleteTask()">Delete Task</button>
  <button (click)="onChangeTaskStatus()">Change Status</button>
</li>
