.task-item {
  width: 20rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 1rem 2rem;
  gap: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.highlighted {
  background-color: aquamarine;
}
