.task-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    margin-block: 4rem;
  }

  > ul {
    height: fit-content;
    padding: 0;
    list-style: none;
  }
}
